<div [class.show]="loading" class="bg_load" [@enterAnimation]>
  <img class="loader_animation" src="assets/img/loaders/loader_1.png" alt="#" />
</div>
<app-nav-bar></app-nav-bar>
<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="text-left">
              <h1 class="page-title">Reviews list</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1 service_list">
  <div class="container">
    <div class="row">
      <div
        *ngFor="let review of reviews"
        class="col-md-4 service_blog margin_bottom_50"
      >
        <app-review-card [reviewData]="review"></app-review-card>
      </div>
      <div
        *ngIf="hasMore"
        class="col-md-4 service_blog margin_bottom_50 load_more"
      >
        <div>
          <button (click)="loadMore()" class="btn btn-success">
            Load more
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end section -->
</div>
