.inner_banner_section {
	background: url('../assets/img/it_service/inner_page_banner.jpg');
	min-height: 245px;
	background-size: cover;
	background-position: center center;
}
.title-holder {
	margin: 85px 0 0;
}

.page-title {
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	line-height: 45px;
	margin-bottom: 15px;
}
